/*Estilos Generales*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* -------------BODY--------------------- */
body {
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}



/* ------  HEADER  ------*/

div.topheader{
    padding: 6%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 40%;
    padding: 10px;
}

img.mlimg {
    width: 70%;
}

header nav{
    font-size: 12px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
}

header div.topheader p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.respheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cen{
    text-align: center;
    outline:none;
   
    
}
div.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    width: 49%;
    background-color: #ffffff;
    border-radius: 15px;
    color: #666;
}

div.input {
    display: flex;
    width: 100%;
}

div.input input {
    border: none;
    width: 90%;
}

div.input button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

div.lupa i {
    font-size: 17px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
}
h5{display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    font-size: 18px;
    width: 100%;
}

/* iconos header*/
.fa-id-card, .fa-sign-in-alt, .fa-shopping-basket {
    color: #09316d;
   /* font-size: ;*/
}


/*----------ESTILOS FORMULARIO-----------*/ 

main {
    box-shadow: 0px 0px 10px rgb(100 100 100);
    background-color: #ffffff;
    margin: 20px 19px;
}


form.form-inicio {
    text-align: center;
    padding: 30px;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #060569;
}

form div input.agendar {
    height: 30px;
}

main form.form-inicio .fas, main form.form-inicio .far {
    font-size: 20px;
    margin-right: 3px;
    color: #060569;
}

div.perfil-usuario, div.categorias {
    padding: 7px;
}

label.estilos-label {
    font-size: 20px;
    color: #060569;
}

form.form-inicio button {
    background-color: #3582f5;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
}

form.form-inicio button:hover {
    background-color: #001463;
    cursor: pointer;
}



/* -------- ESTILOS DEL FOOTER -----------*/

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

i.fa-credit-card, i.fa-gift, i.fa-user-shield {
    color: #1368e7;
    font-size: 2em;
    cursor: pointer;
}

footer article {
    margin: 40px 0;
    color: #666;
}

footer article div {
    margin-bottom: 9px;
}



/*-------- MEDIA-QUERYS --------- */

@media (min-width: 361px) {
    .burger-menu {
        display: block;
    }

    header nav {
        display: none; 
    }
}

@media (min-width: 769px){
    /*Header*/
    div.topheader {
        display: flex;
        justify-content: space-between;
    }

    div.respheader {
        width: 153%;
    }

    div.form {
        margin-left: 5px;
    }

    header ul li a {
        font-size: 15px;
    }

    header div.topheader p {
        padding-top: 12px;
        font-size: 16px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
        margin: 15px;
    }

    header nav ul li a {
        margin: 7px;
    }

    header nav ul li a i {
        color: #060569;
    }

    .burger-menu {
        display: none;
    }

    main {
        margin: 19px 38px;
    }
    
    form div input.agendar {
        width: 50%;
    }

    div.perfil-usuario, div.categorias {
        padding: 10px 0;
    }
}

@media (min-width: 1024px){
    div.respheader {
        width: 183%;
    }

    header div.topheader p {
        margin-top: 25px;
        font-size: 19px;
    }

    header nav {
        padding: 0px 16px;
    }

    header nav ul li a {
        font-size: 17px;
        margin-right: 9px;
    }

    main {
        margin: 30px 52px;
    }

     /* ESTILOS FOOTER RESPONSICE */

     .contenedorfooter {
        display: flex;
        justify-content: space-around;
    }

    .contenedorfooter article {
        width: 27%;
    }

    footer article div i:hover {
        color: #5297ff;
    }
}

@media (min-width: 1280px) {
    /*Header*/
    div.respheader {
        width: 230%;
    }

    header div.topheader p {
        font-size: 20px;
    }

    header nav {
        padding: 0px 35px;
    }

    header nav ul li a {
        font-size: 20px;
        margin-right: 19px;
    }

    main {
        margin: 41px 64px;
    }
}

@media (min-width: 1920px) {

    header .form .submit {
        width: 5%;
    }

    header div.topheader p {
        margin-top: 36px;
        font-size: 30px;
    }

    .fa-search {
        padding: 5px 7px;
    }

    header nav {
        padding: 0px 50px;
    }

    header nav ul li a {
        font-size: 25spx;
        margin-right: 33px;
    }

    main {
        margin: 45px 95px;
    }

    div.input input {
        font-size: 30px;
    }

    .fa-search {
        font-size: 30px;
    }

    .fa-search:before {
        font-size: 30px;
    }
}